.list-item{
    min-width: 500px;
    width: fit-content;
    height: 60px;
    margin: 0 auto 15px;
    border-radius: 16px;
    background: #38404B;
    box-shadow: 5px 5px 13px 0px rgba(48, 54, 64, 0.90), -5px -5px 10px 0px rgba(64, 74, 86, 0.90), 5px -5px 10px 0px rgba(48, 54, 64, 0.20), -5px 5px 10px 0px rgba(48, 54, 64, 0.20), -1px -1px 2px 0px rgba(48, 54, 64, 0.50) inset, 1px 1px 2px 0px rgba(64, 74, 86, 0.30) inset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    box-sizing: border-box;
    padding: 0 20px;
}

.list-item span{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
    margin-right: 15px;
}

.list-item span::before{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid;
}

.item-btn{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #94ADCF;
    border: none;
    box-shadow: 2px 2px 4px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-btn:active{
    box-shadow: 1px 1px 1px 0px;
}

.fa-trash{
    color: red;
}
.fa-check-double{
    color: green;
}

.complete{
    text-decoration: line-through;
}
.complete::before{
    background-color: #94ADCF;
    border: none;
}

span:focus{
    box-shadow: 5px 5px 13px 0px rgba(48, 54, 64, 0.90) inset, -5px -5px 10px 0px rgba(64, 74, 86, 0.90) inset, 5px -5px 10px 0px rgba(48, 54, 64, 0.20) inset, -5px 5px 10px 0px rgba(48, 54, 64, 0.20) inset, -1px -1px 2px 0px rgba(48, 54, 64, 0.50), 1px 1px 2px 0px rgba(64, 74, 86, 0.30);
    outline: none;
    line-height: 2;
}

@media all and (max-width: 550px){
    .list-item{
        min-width: 100%;
        height: 45px;
        padding: 0 10px;
    }
    .list-item span::before{
        width: 10px;
        height: 10px;
    }
    .item-btn{
        width: 20px;
        height: 20px;
        font-size: 80%;
    }
}