.btn{
    height: 60px;
    border: none;
    border-radius: 16px;
    background: #38404B;
    box-shadow: 5px 5px 13px 0px rgba(48, 54, 64, 0.90), -5px -5px 10px 0px rgba(64, 74, 86, 0.90), 5px -5px 10px 0px rgba(48, 54, 64, 0.20), -5px 5px 10px 0px rgba(48, 54, 64, 0.20), -1px -1px 2px 0px rgba(48, 54, 64, 0.50) inset, 1px 1px 2px 0px rgba(64, 74, 86, 0.30) inset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    color: inherit;
    margin-bottom: 20px;
}
.add-btn{
    width: 500px;
}
.save-btn{
    display: inline-flex;
    width: 120px;
}
.btn:active{
    box-shadow: 5px 5px 13px 0px rgba(48, 54, 64, 0.90) inset, -5px -5px 10px 0px rgba(64, 74, 86, 0.90) inset, 5px -5px 10px 0px rgba(48, 54, 64, 0.20) inset, -5px 5px 10px 0px rgba(48, 54, 64, 0.20) inset, -1px -1px 2px 0px rgba(48, 54, 64, 0.50), 1px 1px 2px 0px rgba(64, 74, 86, 0.30);
}


.input{
    width: 500px;
    display: flex;
    gap: 20px;
}

input{
    height: 60px;
    flex-grow: 1;
    border: none;
    border-radius: 16px;
    background: #38404B;
    box-shadow: 5px 5px 13px 0px rgba(48, 54, 64, 0.90) inset, -5px -5px 10px 0px rgba(64, 74, 86, 0.90) inset, 5px -5px 10px 0px rgba(48, 54, 64, 0.20) inset, -5px 5px 10px 0px rgba(48, 54, 64, 0.20) inset, -1px -1px 2px 0px rgba(48, 54, 64, 0.50), 1px 1px 2px 0px rgba(64, 74, 86, 0.30);
    outline: none;
    color: #94ADCF;
    padding: 0 15px;
}

.hide{
    display: none;
}

@media all and (max-width: 550px) {
    .btn{
        gap: 10px;
        height: 45px;
    }
    .add-btn{
        width: 100%;
    }
    .save-btn{
        width: 30%;
    }
    .input{
        width: 100%;
        gap: 10px;
    }
    input{
        width: 70%;
        height: 45px;
    }
}