.wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: #38404B;
    color: #94ADCF;
    font-family: Ubuntu;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 50px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    box-sizing: border-box;
}

h2{
    width: 200px;
    margin: 0 auto 30px;
    text-align: center;
}

.copyright{
    font-size: 1rem;
}
.copyright a{
    color: white;
    text-decoration: none;
}

@media all and (max-width: 550px) {
    html{
        font-size: 14px;
    }
}